<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <div th:fragment="verCarrito" th:unless="${#lists.isEmpty(listaItems)}">            
            <form action="/carrito/listado">
                <button
                    type="submit"
                    class="btn btn-primary">
                    <i class="fas fa-cart-plus"></i>
                    ver carrito [[${listaTotal}]]
                </button>
            </form>
        </div>

        <section th:fragment="listadoCarrito" id="items" class="mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="card-header mb-3">
                            <h4>Productos del carrito</h4>
                        </div>
                        <div th:if="${not #lists.isEmpty(items)}">
                            <div class="row g-3">
                                <div class="col-md-12" th:each="item : ${items}">
                                    <div class="card mb-3"
                                         style="background-color:#38bdf8; border: 1px solid black; border-radius: .375rem;">
                                        <div class="row g-0">
                                            <div class="col-md-4 d-flex justify-content-center align-items-center">
                                                <img th:src="${item.rutaImagen}" alt="Imagen del producto"
                                                     class="img-fluid rounded"
                                                     style="height: 220px; width: 100%; object-fit: cover; border-radius: .375rem;">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                               <h5 class="card-title" style="color: #ffffff;">[[${item.nombre}]]</h5>
                                                    <p class="card-text"><small class="text-body-secondary">
                                                        $[[${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')}]]
                                                    </small></p>
                                                    <p class="card-text"><small class="text-body-secondary">
                                                        Cantidad: [[${item.cantidad}]]
                                                    </small></p>
                                                    <a th:href="@{'/carrito/eliminar/' + ${item.id}}"
                                                       class="btn btn-danger">
                                                        <i class='fas fa-trash'></i> Eliminar
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center p-2" th:if="${#lists.isEmpty(items)}">
                            Carrito vacío
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card" style="background-color: #1e293b; border: none; border-radius: .375rem;">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center">
                                    <div class="card text-center bg-primary text-white mb-3 w-100">
                                        <div class="card-body">
                                            <h3>Total de compra</h3>
                                            <h4 class="fs-4">
                                                $[[${#numbers.formatDecimal(carritoTotal, 0, 'COMMA', 2, 'POINT')}]]
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="card text-center bg-success text-white mb-3 w-100">
                                        <div class="card-body">
                                            <a th:href="@{/productos/cloros/lista}"
                                               class="btn btn-success w-100">
                                                <i class='fas fa-reply'></i> Seguir Comprando
                                            </a>
                                        </div>
                                    </div>
                                    <div class="card text-center bg-info text-white mb-3 w-100">
                                        <div class="card-body">
                                            <a th:href="@{/facturar/carrito}"
                                               class="btn btn-info w-100">
                                                <i class='fas fa-forward'></i> Facturar
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section th:fragment="modificaItem">
            <div class="row row-cols-6" >
                <a th:href="@{/carrito/listado}" class="btn btn-primary">
                    <i class='fas fa-reply'></i> regresar</a>
            </div>
            <div class="row row-cols-2">
                <div class="card">
                    <div class="card-header">Datos del Producto</div>
                    <div class="card-body">
                        <h5 class="card-title">[[${item.descripcion}]]</h5>
                        <h6 class="card-subtitle mb-2 text-muted text-end">
                            [[${item.precio}+' ('+${item.existencias}+')']]</h6>
                        <p class="card-text">[[${item.detalle}]]</p>
                    </div>
                </div>
                <div class="card">                    
                    <div class="card-body">
                        <figure><img th:src="@{${item.rutaImagen}}" width="120"/></figure>
                        <form th:action="@{/carrito/guardar}"
                              method="post"
                              th:object="${item}">
                            <input type="hidden" name="idProducto" th:field="*{idProducto}"/>
                            <div class="form-group">
                                <label for="cantidad">Cantidad</label>
                                <input type="number" name="cantidad" th:field="*{cantidad}" 
                                       min='1' th:max="${item.existencias}"/></div>                
                            <div class="form-group">                    
                                <button class="btn btn-success" type="submit" name="guardar">
                                    <i class='fas fa-save'></i> guardar</button>
                            </div>
                        </form>
                        <a th:href="@{/carrito/eliminar/}+${item.idProducto}"
                           class="btn btn-danger">
                            <i class='fas fa-trash'></i> eliminar
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>