<section th:fragment="listadoHistorial" id="historial-items" class="mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card-header mb-3">
                    <h4>Historial de Compras</h4>
                </div>
                <div th:if="${not #lists.isEmpty(historial)}">
                    <div class="row g-3">
                        <div class="col-md-12" th:each="item : ${historial}">
                            <div class="card mb-3" style="background-color:#38bdf8; border: 1px solid black; border-radius: .375rem;">
                                <div class="row g-0">
                                    <div class="col-md-4 d-flex justify-content-center align-items-center">
                                        <img th:src="${item.rutaImagen}" alt="Imagen del producto"
                                             class="img-fluid rounded"
                                             style="height: 220px; width: 100%; object-fit: cover; border-radius: .375rem;">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title" style="color: #ffffff;">[[${item.nombre}]]</h5>

                                            <p class="card-text"><small class="text-body-secondary">
                                                Fecha de compra: [[${item.fechaCompra}]]
                                            </small></p>
                                            <p class="card-text"><small class="text-body-secondary">
                                                Fecha de compra: [[${item.precio}]]
                                            </small></p>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center p-2" th:if="${#lists.isEmpty(historial)}">
                    Historial vacío
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="background-color: #1e293b; border: none; border-radius: .375rem;">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center">

                            <div class="card text-center bg-success text-white mb-3 w-100">
                                <div class="card-body">
                                    <a th:href="@{/productos/cloros/lista}"
                                       class="btn btn-success w-100">
                                        <i class='fas fa-reply'></i> Seguir Comprando
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
